@import '@/assets/stylesheets/styles.scss';

article {
    @include border-radius(5pt);

    background-color: $main-bg-color;
    background-image: $main-bg-img;
    height: 28vh;
    color: #fff;
    padding: 25pt;
    font-size: 13pt;
    font-weight: bold;
}
#main {
    @include id_mainClass;

    .block {
        text-align: left;
        color: #c4c2c2;
        font-weight: bold;
        font-size: 13pt;

        small {
            font-weight: bold;
        }
    }
    .finish-font {
        color: $titleColor;
        font-size: 15pt;
    }   
}    
.chart-tag {
    color: #c4c2c2;
    text-align: left;
    font-weight: bold;        

    span {
        display: inline-block;
        position: relative;

        &.active {
            color: $titleColor;
        }
        &.active::after {
            @include border-radius(50%);

            content: '';
            width: 5px;
            height: 5px;
            background-color: $titleColor;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}   