@import '@/assets/stylesheets/styles.scss';

#main {
    @include id_mainClass;

    overflow: hidden;
    position: relative;

    .content {
        width: 100%;
        height: 58vh;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 20pt;
        padding-top: 8pt;
    }
}
section {
    position: relative;

    span {
        position: absolute;
        right: 0;
        top: 5px;
        color: $titleColor;
    }
}
.main-nav {
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 10px ;
    padding-bottom: 15px ;

    ul {
        width: 100%;
    }
    li {

        a {
            padding: 0;
        }
        span {
            display: block;
        }
        &.active {
            .title-date {
                color: $titleColor;
            }
            .title-date::after {
                @include border-radius(50%);

                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 5px;
                height: 5px;
                background: $titleColor;
            }
        }
    }
}
.title-week {
    color: #DEDEDE;
    font-size: 10pt;
    font-weight: bolder;
}
.title-date {
    color: #A5A2A2;
    font-size: 12pt;
    font-weight: bolder;
    padding-bottom: 4px;
    position: relative;
}
.card {
    margin: 0pt 3pt 10pt 3pt;
    border: 0;
    box-shadow: 0rem 0.05rem 0.5rem 0.1rem rgba(0, 0, 0, 0.10);
    transition: transform .5s ease;
}
.card-body {
    position: relative;
    padding: .8rem;
    text-align: left;
    font-size: 12pt;
    font-weight: bolder;
    
    svg {
        display: inline-block;
        font-size: 20pt;
        color: #7C7C7C6F;   
        vertical-align: middle;         
    }
    span {
        display: inline-block;
        color: #6F6F6F;
        padding-left: 20px;
        vertical-align: middle;
    }    
    .finish-check {
        @include border-radius(50%);

        width: 20pt;
        height: 20pt;
        padding-left: 0px;
        border: 1px solid #7C7C7C6F;
    }  
    
    &.finish {
        .finish-check {
            border-color: $titleColor;

            svg {
                color: $titleColor;
            }
        }
        .task-name {
            color: #DEDEDE;
        }
    }

}
.task-moving {
    transform: translateX(-20%);
}
.task-name {
    max-width: 80%;
}
.task__btn-del {
    @include border-radius(50%);

    position: absolute;
    right: -50px;
    padding-left: 0px !important;
    top: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;    
    transform: translateY(-50%);
    background-color: #8acf9c;

    svg {
        color: #fff !important;
    }
}
.add-btn {
    @include action-btn;

    bottom: 13%;
}
.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5pt;    
    
    svg {
        color: #8acf9c;
    }
}
.task-list-item {
    transition: all .5s ease;
}
.task-list-enter,
.task-list-leave-to {
    opacity: 0;
    transform: translateY(100px);
}
.task-list-leave-active {
    width: 100%;
    position: absolute;
    z-index: 2;
}