html, body {
    width: 100%;
    height: 100vh;
    background-color: $body-bg-color;
    font-family: $font-family;
}

h3, h5 {
    color: $titleColor;
    font-weight: bold;
    font-family: $title-font;
    letter-spacing: 1px;
}

section {
    h3, h5 {
        text-align: left;
    }
}
