$font-family: "Meiryo UI", "MS UI Gothic", "Hiragino Kaku Gothic Pro", Osaka, "MS PGothic", sans-serif;
$title-font: monospace, sans-serif;
$body-bg-color: #fff;

$max-zIndex: 9999;
$titleColor: rgba(20,168,60,1.00);