$font-family: "Meiryo UI", "MS UI Gothic", "Hiragino Kaku Gothic Pro", Osaka, "MS PGothic", sans-serif;
$title-font: monospace, sans-serif;
$body-bg-color: #fff;
$main-bg-color: #0081b9;
$main-bg-img:  linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #14a83b 100%);
$max-zIndex: 9999;
$top-zIndex: 99999;
$titleColor: rgba(20,168,60,1.00);